.container {
  
  width: 100%; /* Ensures it takes full width up to the max-width */
  margin: 0 auto; /* Centers the container horizontally */
margin-top:30px;

 
}
.underline-offset-8 {
  text-underline-offset: 8px;
}
.full-screen-black {
  background-color: #000000;
  /* bg-gradient-to-r from-gray-900 via-gray-800 to-black py-20 */
  background: linear-gradient(to right, #1a202c, #2d3748, #000000); /* from-gray-900, via-gray-800, to-black */
  
   /* background: linear-gradient(135deg, #000000, #001f3f); */
  width: 100%;
  /* height: 100vh; */
  margin: 0;
  padding: 0;
  
}
/* #000000 */